<header>
  <img src="logo.png" alt="Logo : IP Soluciones Digitales" (click)="home()" class="logo-click">
  <nav class="menu">
  <button class="menu-toggle" (click)="menuAbierto = !menuAbierto">
    ☰
  </button>

  <div class="menu-links" [class.abierto]="menuAbierto">
    <a routerLink="/home"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{exact:true}"
       (click)="menuAbierto = false">
      Inicio
    </a>

    <a routerLink="/servicio"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{exact:true}"
       (click)="menuAbierto = false">
      Nuestros servicios
    </a>

    <a routerLink="/quienes_somos"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{exact:true}"
       (click)="menuAbierto = false">
      Quiénes somos
    </a>

    <a routerLink="/contacto"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{exact:true}"
       (click)="menuAbierto = false">
      Contacto
    </a>
  </div>
</nav>

</header>

<!-- Botón WhatsApp fijo -->
<a href="https://wa.me/573113443891" class="whatsapp-float" target="_blank"
  aria-label="Chatea con nosotros por WhatsApp">
  <i class="bi bi-whatsapp"></i>
</a>


<body>
  <br>
  <h1>
    Digitaliza tu negocio en la nube
  </h1>
  <section>
    Con el respaldo de <strong>IP Soluciones Digitales</strong>, moderniza tu negocio y mejora su visibilidad mediante
    soluciones de alojamiento en la nube. No te quedes en el pasado: el futuro es hoy.
  </section>
  <hr>
  <div class="form-container">
    <h2>Formulario de Contacto</h2>

    <form [formGroup]="contactoForm" (ngSubmit)="enviarFormulario()">

      <div class="form-group">
        <label>Nombre</label>
        <input type="text" formControlName="nombre">
        <small *ngIf="contactoForm.get('nombre')?.touched && contactoForm.get('nombre')?.invalid">
          El nombre es obligatorio (mínimo 3 caracteres)
        </small>
      </div>

      <div class="form-group">
        <label>Correo electrónico</label>
        <input type="email" formControlName="email">
        <small *ngIf="contactoForm.get('email')?.touched && contactoForm.get('email')?.invalid">
          Ingresa un correo válido
        </small>
      </div>

      <div class="form-group">
        <label>Teléfono</label>
        <input type="number" formControlName="telefono">
      </div>

      <div class="form-group">
        <label>Mensaje</label>
        <textarea rows="4" formControlName="mensaje"></textarea>
        <small *ngIf="contactoForm.get('mensaje')?.touched && contactoForm.get('mensaje')?.invalid">
          El mensaje debe tener al menos 10 caracteres
        </small>
      </div>

      <button type="submit" [disabled]="contactoForm.invalid">
        Enviar mensaje
      </button>

    </form>
  </div>
 <div class="mapa-container">
  <h2 style="color: white;">Ubicación</h2>

  <div class="mapa">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d282.75501546500004!2d-77.26750161133259!3d1.1983308178120955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e2ed4bef1f46029%3A0xb5872bffdfcd7d14!2sCra.%205a%20%23%2018%20BIS-22%2C%20Pasto%2C%20Nari%C3%B1o!5e1!3m2!1ses-419!2sco!4v1768064349851!5m2!1ses-419!2sco"
      loading="lazy"
      allowfullscreen
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
</div>



  <br>

</body>

<footer class="video-footer">

  <!-- Video de fondo -->
  <video class="footer-video" autoplay muted loop playsinline>

    <source src="video_footer.mp4" type="video/mp4">

  </video>

  <!-- Contenido encima del video -->
  <div class="footer-content container text-center">

    <img src="logo2.png" alt="IP Soluciones Digitales" class="logo_footer">

    <p class="footer-text">
      © 2026 <strong>IP Soluciones Digitales</strong>. Todos los derechos reservados.
    </p>

    <p class="footer-social-text">
      Síguenos en nuestras redes sociales virtuales.
    </p>

    <div class="footer-social">
      <i class="bi bi-facebook"></i>
      <a href="https://wa.me/573113443891" target="_blank" aria-label="Chatea con nosotros por WhatsApp"
        class="a-social">
        <i class="bi bi-whatsapp"></i>
      </a>
      <i class="bi bi-instagram"></i>
    </div>

  </div>

</footer>
